<section>
	<h1 class="icon" data-icon="f">About Me</h1>
	<p><img class="center" src="/images/Mugshot.jpg"></p>
	<p><a href="http://www.markwk.com">Mark Koester</a> is a #datadriven self-tracker, software developer, writer, and tech entrepreneur.</p>  
	<p>Check out the  <a href="http://www.markwk.com/products">products and projects page</a> for a list of the latest creations in self-tracking, personal data and other goodies.</p>   
	<p>Mark owns a web development shop <a href="http://int3c.com/">Int3c.com</a>, which he has operated since 2009. He previously ran Regional Development for Techstars and UP Global in Greater China. He is passionate about open source technologies and entrepreneurship.</p>
	<p><a href="https://linkedin.com/in/markwkoester">View His Professional Profile</a>.</p> 
	<p><a href="{{ root_url }}/country-list.html">Where have I been?</a> He is originally from Omaha, Nebraska, United States, and has been living abroad for over a decade, including significant time in <a href="{{ root_url }}/category/france/">France</a>, <a href="{{ root_url }}/category/spain/">Spain</a>, <a href="{{ root_url }}/category/china/">China</a> and Southeast Asia. He is rather nomadic but likely these days to be found somewhere in West Coast of US, China or Southeast Asia diving, writing, running, and building stuff.
		<p><a href="/contact">Contact Info</a></p>
</section>

