<section>
	<h1 class="icon" data-icon="f">About Me</h1>
	<p><img class="center" src="/images/Mugshot.jpg"></p>
	<p>Mark Koester is a <a href="{{ root_url }}/category/learning/">life-long-learner</a>, <a href="{{ root_url }}/teaching">teacher</a>, <a href="{{ root_url }}/category/abroad/">traveller</a>, <a href="http://drupal.org/user/1094790/">Drupal-er</a>, 
		<a href="https://github.com/markwk/">hacker</a>, <a href="{{ root_url }}/category/language/">polyglot</a>, <a href="{{ root_url }}/blog/archives/">writer</a> and <a href="{{ root_url }}/category/religion/">mystical atheist</a>. </p>
	<p>He is originally from Omaha, Nebraska and has been living abroad for the last several years, include significant time in France and China. He is currently living in Barcelona, Spain. 
	</p>
	<p>Mark is passionate about open source technologies and runs his own web development shop(<a href="http://int3c.com">Int3c.com</a>) focused on Drupal. 
	</p>
		<p><a href="/contact">Contact Info</a></p>
</section>

