<section>
	<h1 class="icon" data-icon="f">About Me</h1>
	<p><img class="center" src="/images/Mugshot.jpg"></p>
	<p>Mark Koester is a life-long-learner, <a href="/teaching">teacher</a>, traveller, <a href="http://drupal.org/user/1094790/">Drupal-er</a>, 
		<a href="https://github.com/markwk/">hacker</a>, polyglot, writer and mystical atheist. </p>
	<p>He is originally from Omaha, Nebraska and has been living abroad for the last several years, include significant time in France and China. He is currently living in Barcelona, Spain. 
	</p>
		<p><a href="/contact">Contact Info</a></p>
</section>

