<section>
	<h1 class="icon" data-icon="f">Favorite Posts</h1>
	<p>I've been writing this blog since 2007 and it's seen many evolutions in thoughts, topic and style. Here are some of the favorite posts:</p>
	<ul>
		<li><a href="http://www.markwk.com/2014/03/four-languages-in-four-months.html">4 Languages in 4 Months</a></li>	
		<li><a href="http://www.markwk.com/2014/02/how-i-learned-travel-burmese.html">How I Learned Travel Burmese</a></li>
		<li><a href="http://www.markwk.com/2013/10/finally-speaking-spanish-in-colombia.html">Finally Speaking Spanish in Colombia</a></li>
		<li><a href="http://www.markwk.com/2013/10/productive-work-and-travel-abroad.html">Productive Work and Travel Abroad</a></li>	
		<li><a href="http://www.markwk.com/2008/09/getting-rubbed-down-at-yoyo-an-anecdote-from-a-chinese-toilet.html">Getting Rubbed Down at YoYo Club</a></li>
		<li><a href="http://www.markwk.com/2008/12/knocks-and-noises.html">Knocks and Noises</a></li>
		<li><a href="http://www.markwk.com/2009/04/hearing-the-unexpected-and-finding-the-unmistakable-est-ce-que-tu-mentends.html">Hearing the (Un)Expected and Finding the (Un)Mistakable</a></li>
		<li><a href="http://www.markwk.com/2013/04/language-learning-is-about-persistence.html">Language Learning is about Persistence</a></li>
		<li><a href="http://www.markwk.com/2008/10/maps-postcards-and-the-fragrant-remainder-constructing-a-world-that-feels-like-home.html">Maps, Postcards, and the Fragrant Remainder</a></li>
		<li><a href="http://www.markwk.com/2008/11/let-me-paint-you-a-picture.html">Let Me Paint You a Picture</a></li>
		<li><a href="http://www.markwk.com/2008/03/strangely-not-at-home-being-at-home-and-away-from-home.html">Strangely (Not) At-home</a></li>
		<li><a href="http://www.markwk.com/2008/02/imaginary-studies-in-individualistic-island-living-on-lost-pt-1.html">Imaginary Sociology: Island Living on "Lost"</a></li>
		<li><a href="http://www.markwk.com/time-tracking-tools.html">Time Tracking Tools and Tips</a></li>
	</ul>
</section>

