<section>
	<h1 class="icon" data-icon="f">What I'm Working On</h1>
	<p><a href="/goals"><img class="right" src="/images/target_with_arrow.png"></a>I'm a strong believer in the <a href="{{ root_url }}/category/track-everything">data-driven life</a>, <a href="{{ root_url }}/category/goals/">goals</a>, and <a href="{{ root_url }}/category/getting-things-done/">getting things done</a>.</p>
	<p>Here are a couple of my current objectives: Run a Marthon Under 4 Hours, Become a Self-Tracking Expert, Write a Book, <a href="http://www.markwk.com/2016/06/2000-book-reading-challenge.html">Read 2000 books</a>, and Launch a Successful Data-Driven Product.</p>
	<p></p>
</section>

