<section>
	<h1 class="icon" data-icon="f">What I'm Working On</h1>
	<p><a href="/goals"><img class="right" src="/images/target_with_arrow.png"></a>I'm a strong believer in the <a href="http://en.wikipedia.org/wiki/Getting_Things_Done">getting things done</a> mentality. I don't necessarily follow every tenat, but growing is a personal journey. Here are my two current goals: 1. <em><a href="{{ root_url }}/category/learning-spanish/">Learn Spanish</a></em> and <em><a href="http://drupal.org/project/panopoly_event">Launch My Events Site Platform</a></em> 
	<p><a href="/goals">Read More About My Goals</a></p>
</section>

