{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}<span class="byline author vcard">Posted by <span class="fn">{{ author }}</span> | <a rel="me" name="google_profile" itemprop="url" href="https://plus.google.com/102508826611212348817?rel=author" target="_blank" title="Follow Me on Google+">Google+</a> | <a href="https://twitter.com/markwkoester">Twitter</a></span>{% endif %}
