<article class="post">
    <header class="post-header">
        <div class="post-meta">
            <time class="published" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </div><!-- .post-meta -->
        <h2 class="post-title">
            <a href="{{ post.url | absolute_url }}" rel="bookmark">{{ post.title }}</a>
        </h2>
    </header><!-- .post-header -->
    <div class="post-content">
        <p>{{ post.excerpt | strip_html | truncatewords:40 }} </p>
        <p class="post-tags">
            {% if post.categories.size > 0 %}
            {% for category in post.categories %}
            {% if forloop.index == post.categories.size %}
            <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | camelcase }}</a>
            {% else %}
            <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | camelcase }}</a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </p>
    </div><!-- .post-content -->
</article>