@charset "UTF-8";

/* Lqyout & Typography: Nest Single Column Fluid */
	
	body {
		margin:20px 20px 0px 20px;
		font-family: 'Lucida Grande','Lucida Sans Unicode',Verdana,Arial,sans-serif;
		}
	
	#main {
		border:1px solid #000; 
		background:#fff;
		}

	#main #menu {
		border-left:1px solid #000;  
		border-top:1px solid #000; 
		border-bottom:1px solid #000; 
		float:right;
		width:230px;
		background:#eee;
		margin:45px 0px 10px 10px;
		}
p,h1,h2 ,h3,h4{
		margin:0px 10px 10px 10px;
		}
		
	p, li {
		font-family: Palatino Linotype, Palatino, Book Antiqua, serif;
	}

	h1 {
		font-size:24px;
		padding-top:10px;
		}

	h2 { 
		text-transform:uppercase; 
		font-size:18px;
	}

	h3 {
		font-size:16px;
		}
	
	a {
		color:#0b89e2;
        text-decoration:underline;
	}
	
	a:hover, a:focus { color:#22599e; }
	
/* Classes */
.alignLeft { float:left; margin-right: 1em; }
.alignRight { float:right; margin-left: 1em; }.logo {
	text-align: center;
	margin: 5px;
	padding: 5px;
}
#vocablist {
	padding: 15px;
	border: 5px dotted #666;
	margin-top: 0px;
	margin-right: 25%;
	margin-bottom: 0px;
	margin-left: 15%;
}
table, td, th.classlist {
	border: 1px solid #000;
	border-collapse: collapse;
	text-align: center;
}

table.classlist td
{
text-align:center;
}
.center {
	margin: 0 auto;
	padding: 5px;
	display: block;
}
