<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Home</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about">About</a></li>
  <li><a href="{{ root_url }}/category/abroad/">Travel</a></li>
  <li><a href="{{ root_url }}/teaching">Teaching</a></li>
   <li><a href="{{ root_url }}/category/learning/">Learning</a></li>
   <li><a href="{{ root_url }}/category/technology/">Technology</a></li>
  <li><a href="{{ root_url }}/contact">Contact</a></li>
</ul>