---
layout: default
disqus: false
post_class: post-template
---

    <main id="main" class="site-main">
    
        <article class="post-full inner">

            <header class="post-header">
                <div class="post-meta">
                    <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d,
                        %Y" }}</time>
                </div><!-- .post-meta -->
                <h1 class="post-title">{{ page.title }}</h1>
           		 <div class="post-tags">
	                {% if page.categories.size > 0 %}
	                {% for category in page.categories %}
	                {% if forloop.index == page.categories.size %}
	                <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | camelcase }}</a>
	                {% else %}
	                <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | camelcase }}</a>
	                {% endif %}
	                {% endfor %}
	                {% endif %}
                </div>
            </header><!-- .post-header -->

            {% if page.featured_image %}
            <div class="post-thumbnail">
                <img src="{{ site.baseurl }}{{ page.featured_image }}" alt="{{ page.title }}">
            </div>
            {% endif %}
            <div class="post-content">
                {{content}}
            </div>
            {% include disqus.html %}
        </article>
        {% if site.mailchimp_url %}
            {% include newsletter-box.html %}
        {% endif %}
        <section class="read-next inner">
            <h2 class="read-next-title">Read Next</h2>
            {% if page.previous.url %}
            <article class="post">
                <header class="post-header">
                    <div class="post-meta">
                        <time class="published" datetime="{{page.previous.date | date: '%B %-d, %Y'}}">{{page.previous.date
                            | date: "%B %-d, %Y"}}</time>
                    </div>
                    <h3 class="post-title"><a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></h3>
                    <p class="post-tags">
                        {% if page.previous.categories.size > 0 %}
                        {% for category in page.previous.categories %}
                        {% if forloop.index == page.previous.categories.size %}
                        <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | capitalize
                            }}</a>
                        {% else %}
                        <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | capitalize
                            }}</a>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </p>
                </header>
            </article>
            {% endif %}
            {% if page.next.url %}
            <article class="post">
                <header class="post-header">
                    <div class="post-meta">
                        <time class="published" datetime="{{page.next.date | date: '%B %-d, %Y'}}">{{page.next.date |
                            date: "%B %-d, %Y"}}</time>
                    </div>
                    <h3 class="post-title"><a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></h3>
                    <p class="post-tags">
                        {% if page.next.categories.size > 0 %}
                        {% for category in page.next.categories %}
                        {% if forloop.index == page.next.categories.size %}
                        <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | capitalize
                            }}</a>
                        {% else %}
                        <a href='{{ site.baseurl }}/category/{{ category | downcase | replace: ' ', '-' }}/'>{{ category | capitalize
                            }}</a>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </p>
                </header>
            </article>
            {% endif %}
        </section><!-- .read-next -->

    </main><!-- .site-main -->